p
{
    margin: 0;
    padding: 5px;
}

img
{
	max-width: 100%;
}

.clearer
{
    clear: both;
}

#view-page
{
    font-family: georgia;
    margin-top: 0;
}

.header
{
    background: #dddddd;
    padding: 5px;
    display: block;
    overflow: hidden;
}

.widgets
{
    font-family: verdana, arial;
    background: #f0f0f0;
    font-size: 12px;
    padding: 4px;
    text-align: right;
}

.align-right
{
	text-align: right;
}

.widget
{
    margin-left: 10px;
}

#handle
{
    top: 0px;
    bottom: 0px;
    position: fixed;
    width: 10px;
    background: grey;
    cursor: e-resize;
    background-image: url(image/grippy.png);
}

#sidebar
{
    font-family: verdana, arial;
    font-size: 10px;
    margin: 0;
    top: 0px;
    left: 0px;
    height: 100%;
    position: fixed;
    overflow: scroll;
}

#nav
{
    font-size: 11px;
}

#sidebar ul
{
    padding-left: 2em;
}

#sidebar form
{
    display: inline;
}

#sidebar p
{
    margin: 5px;
}

#sidebar table
{
    border-collapse: collapse;
    width: 100%;
}

.heading a
{
    text-decoration: none;
}

.main-heading
{
	text-align: center;
	font-family: arial;
	margin-top: 20px;
}

.heading
{
    background: #ccc;
    border-bottom: 1px solid grey;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-left: 0px;
}

table#taglist tr.heading
{
	cursor: pointer;
}

.heading.prefs
{
    background: #ccc;
    border-left: 2px solid #e4e4e4;
    border-top: 2px solid #e4e4e4;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: -4px;
	margin-bottom: -1px;
	cursor: pointer;
	display: inline-block;
}

.selected
{
    border-right: 2px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
}

#sidebar td, 
#sidebar th
{
    font-size: 10px;
    padding: 2px;
    text-align: left;
    font-weight: normal;
}

#sidebar table.taglist td.number,
#sidebar table.taglist th.number
{
	width: 15px;
}

#sidebar table.taglist td.all,
#sidebar table.taglist th.all
{
	width: 35px;
}

#sidebar table.taglist td.tag-name
{
}

#sidebar table.taglist td.delete-tag,
#sidebar table.taglist th.delete-tag
{
	width:30px;
	text-align:center;
}

#sidebar table.taglist tr:hover 
{ 
}

#sidebar table.taglist td a 
{
   display: block; 
   text-decoration: none;
}

.odd-row
{
    background: #dddddd;
}

.unread
{
    font-weight: bold;
    color: red;
}

.unread-item
{
    font-weight: bold;
}

#items
{
    font-family: georgia;
}

.highlight-on .highlight
{
    background: yellow;
}

h1
{
    font-size: 110%;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: normal;
}

h2
{
    font-size: 100%;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: normal;
    display: inline;
}

.meta
{
    font-size: 80%;
    display: inline;
}

.header
{
    background-color: #ddd;
    padding: 5px;
}

body
{
    margin: 0px;
    padding: 0px;
}

.body
{
    margin: 0px;
    padding: 10px 10px 10px 10px;
}

.item
{
    border: 2px solid #ddd;
    margin: 10px;
    margin-bottom: 20px;
    clear: both;
    overflow: hidden;
}

.item.selected
{
    border: 1px solid #888;
    background-color: #eee;
}

.selected .header
{
    background-color: #ccc;
}

#menu-page
{
    margin: 0;
    padding: 0;
    font-family: verdana;
    font-size: 60%;
    background: #eee;
}

#menu-page .menu ul
{
    padding: 1px;
    margin: 0;
}

#menu-page .menu li
{
    display: inline;
    padding: 5px;
}

#menu-page .menu
{
    text-align: center;
    background: #eee;
}

#menu-page a:hover
{
    background: #fff;
}

.nowrap
{
    white-space: nowrap;
}

.controls
{
	float: right;
	display: block;
	overflow: hidden;
	margin-left: 10px;
}

.controls > input
{
	margin-bottom: 0px;
	vertical-align: bottom;
}

.controls > a
{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.favorite
{
	cursor: pointer;
}
.tags
{
    font-size: 70%;
    float: right;
}

.item.hidden
{
    margin-bottom: 10px;
}

.hidden .body
{
    display: none;
}

.hidden .widgets
{
    display: none;
}


.shown .downarrow
{
    display: none;
}

.hidden .uparrow
{
    display: none;
}

.hidden h1
{
    font-size: 90%;
    display: inline;
}

.hidden h2
{
/*    font-size: 80%;*/
}

.hidden .tags
{
    display: none;
}

.hidden .meta
{
    display: none;
}

.hidden .dash
{
    display: inline;
}

.shown .dash
{
/*    display: none;*/
}

#welcome
{
font: normal 10px Verdana;
background: #ddd;
border-bottom: 1px solid #666;
padding: 5px 7px;
}

#item-display-controls
{
	font-style: normal;
	font-size: 10px;
	font-family: arial, helvetica;;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0 5px;
	background: #dddddd;
	border-bottom: 1px solid #666666;
	z-index: 1;
}

#item-display-controls li
{
	padding: 5px 4px;
	border: 2px solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #cccccc;
	border-top-color: #cccccc;
	cursor: pointer;
}

#item-display-controls li a
{
	padding: 0;
	text-decoration: none;
	color: #333333;
}

#item-display-controls li:active
{
	background: #333333;
	color: #dddddd;
	border-left-color: #999999;
	border-top-color: #999999;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
}

#item-display-controls li a:active
{
	color: #dddddd;
}


#item-display-controls-spacer
{
	font: normal 10px Verdana;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
}

#item-display-controls-spacer li
{
padding: 5px 4px;
}

#item-display-controls-spacer li a
{
padding: 0;
}

.item-date-nav
{
text-align: center;
clear: both;
padding: 7px 0 0 0;
}

.inline-list
{
margin: auto;
padding: 0;
list-style: none;
}

.inline-list li
{
float: left;
margin: 0;
padding: 0;
}

.inline-list li a
{
display: block;
padding: 2px 5px;
}

.column-one
{
	clear: left;
	display: inline-block;
}
.column-two
{
	clear: right;
	display: inline-block;
}
.prefs-row
{
	padding-bottom: 20px;
}

.prefs-row.table
{
	display: table;
	height: 50px;
}

.prefs-row.table.Feeds-and-Tags .column-one.table-cell,
.prefs-row.table.Feeds-and-Tags .column-two.table-cell
{
	vertical-align: middle;
}

.prefs-row.table-row
{
	display: table-row;
	height: 50px;
}

.column-one.table-cell
{
	display: table-cell;
}
.column-two.table-cell
{
	padding-left: 20px;
	display: table-cell;
}
.column-three.table-cell
{
	padding-left: 20px;
	display: table-cell;
}
.column-four.table-cell
{
	white-space: nowrap;
}
div.nav-links
{
	text-align: center;
	display: block;
	clear: both;
}
div.nav-links > a
{
	border: 2px solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #cccccc;
	border-top-color: #cccccc;
	text-decoration: none;
	color: #333333;
	background-color: #dddddd;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	display: inline-block;
}

div.nav-links > a:active
{
	border: 2px solid;
	background: #333333;
	color: #dddddd;
	border-left-color: #999999;
	border-top-color: #999999;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;

}
div.date-item-published
{
	text-align: center;
	background-color: #dddddd;
	font-weight: bold;
	padding: 5px;
	display: block;
	margin-top: 10px;
}
.stared
{
	color: red;
}

.container
{
	border: 1px solid black; 
	padding: 10px; 
	font-size: 12px; 
	font-family: verdana, arial;
	display: none;
}

.input.small-number
{
	width: 20px;
}
